.footer {
  position: relative;
  padding: 1rem;
  background: linear-gradient(to right, #33578a, #27a0c7);
  color: white;
  font-weight: 500;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: cursive;
  width: 100%;
  z-index: 1;
}

.footer2 {
  margin-top: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  padding: 1rem;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer2 .grid {
    grid-template-columns: 1fr;
  }
}

.custom-title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.75;
  color: #aa1e1e;
  margin: 0;
  padding: 15px 0;
}

input::placeholder {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75;
  color: gray;
}

.custom-div {
  background-color: #73d1dd14;
  border-color: rgb(12, 98, 159);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
}

.btnfooter {
  padding: 8px 15px;
  background: linear-gradient(90deg, #27A9E0, #4B6CB7);
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
  text-decoration: none;
}


.footer-links {
  margin-left: 8rem;
}

.footer-links2 {
  margin-left: 65rem;
}


.logo{
  max-width: 80%; 
  height: auto; 
  max-height: 120px;
}


.footerimage{
  max-width: 80%; 
  height: auto; 
  max-height: 120px;
}



@media (max-width: 768px) {
  /* Adjust this max-width as needed for your breakpoints */
  .footer-links {
    margin-left: 0;
  }
  .footer-links2 {
    margin-left: 0rem;
  }
  .logo{
    visibility: hidden;
  }
}