.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: linear-gradient(to right, #33578a, #27a0c7);
    color: white;
    font-weight: 500;
    font-style: italic; /* Makes the font italic */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
  }
  

.footer2
{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 55%;
  right: 0;
  min-width: -webkit-fill-available;
}


.custom-title {
  font-size: 1.25rem; /* Adjust font size as needed */
  font-weight: 600;   /* Semi-bold */
  line-height: 1.5;   /* Adjust line height if necessary */
  color: #C62828;     /* Dark red color */
  margin: 0;          /* Remove default margin */
  padding: 10px 0;    /* Add some padding if needed */
}