.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: linear-gradient(to right, #33578a, #27a0c7);
    color: white;
    font-weight: 500;
    font-style: italic; /* Makes the font italic */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
  }
  

.footer2
{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 55%;
  right: 0;
  min-width: -webkit-fill-available;
}


.custom-title {
  font-size: 1.75rem; /* Increased font size */
  font-weight: 500;   /* Bold */
  line-height: 1.75;  /* Increased line height */
  color: #aa1e1e;     /* Dark red color */
  margin: 0;          /* Remove default margin */
  padding: 15px 0;    /* Increased padding */
}

input::placeholder {
  font-size: 1.25rem; /* Increased font size */
  font-weight: 500;   /* Bold */
  line-height: 1.75;  /* Increased line height */
  color: gray; /* Change color if needed */
}

.custom-div {
  background-color: #73d1dd14;
  border-color: rgb(12, 98, 159);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px; /* Adjust for desired roundness */
}


.btnfooter {
  padding: 8px 15px;
  background: linear-gradient(90deg, #27A9E0, #4B6CB7);
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
  text-decoration: none;

}